html {
	background-color: #fcf2bb;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0; /*gets rid of the empty space on the footer and header */
}
#header-img {
	width: 150px;
	height: 160px;
}

#header {
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed; /* nav bar always at the top of the viewport solution */
	background-color: #fcf2bb;
	z-index: 1000; /*" The z-index property specifies the stack order of an element.
    An element with greater stack order is always in front of an element with a lower stack order." */
}

.header-ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 650px) {
	header {
		flex-direction: column;
	}
	nav#nav-bar ul {
		text-align: center;
	}
}
a {
	text-decoration: none;
}
nav {
	width: 100%;
}

.sign-up {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-up input {
	padding: 8px;
	margin: 5px;
}

.sign-up input#email {
	width: 250px;
	font-size: 15px;
}

.sign-up input#submit {
	width: 150px;
	border: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	background: #f39a96;
}
#form {
	text-align: center;
	margin-bottom: 20px; /* more than 20 creates a responsive issue */
}

.video-section {
	height: 500px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 15px;
	padding-bottom: 80px;
}

.video {
	text-align: center;
}

#releases {
	display: grid;
	gap: 30px;
	align-content: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: repeat(3, 300px);
	margin-bottom: 5px;
}

#travis {
	width: 160px;
	height: 100px;
}

#airmax {
	width: 160px;
	height: 105px;
}

#bauhaus {
	width: 160px;
	height: 105px;
}

#pricing-box {
	text-align: center;
	line-height: 40px;
	border: 2px solid black;
}

#pricing-box h4 {
	background: #2b2262;
	color: white;
	margin-top: 0px; /* SOLUTION TO HEADER TOP SPACING: h4 tags has default margins set to 1.33em */
	height: 70px;
	font-size: 28px;
	padding-top: 18px;
}

#pricing-box .price {
	font-weight: bold;
	font-size: 25px;
}

#pricing-box .btn {
	background: #f39a96;
	display: block;
	color: black;
	width: 150px;
	margin: 15px auto;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

footer {
	background: #454f4e;
	text-align: end;
	padding: 5px 25px;
	color: white;
}

.footer-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
}

.footer-nav ul li {
	margin-left: 15px;
}

.footer-nav ul li a {
	color: white;
}

.copyright {
	opacity: 0.7;
}
